$color-soft-blue:   hsl(243, 86%, 85%);
$color-dark-blue:   hsl(243, 87%, 12%);
$color-green:       hsl(163, 95%, 43%);
$color-light-grey:  hsl(106, 0%, 98%);
$color-mid-grey:    hsl(0, 0%, 50%);
$color-dark-grey:   hsl(0, 0%, 17%);

$font-family-heading: "Raleway"; // 700
$font-family-body: "Open Sans"; // 400, 600, 700