.header {
    .container {
        position: relative;
    }
}

.nav {
    padding-top: 30px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    &--item {
        display: inline-block;

        &:first-child {
            padding-right: 20px;
        }
    }
}

@media ( min-width: 376px ) {
    .nav {
        padding-top: 65px;
    }
}